body {
    background-color: aqua;
}

h1 {
    color: blue;
    background-color: rgb(255, 126, 126);
}

#show_sketch {
    float: right;
}

canvas {
border: 5px solid crimson;
border-radius: 20px;
animation-name: example;
animation-duration: 4s;
animation-iteration-count: infinite;
margin-top: 50px;
}

@keyframes example {
    from{box-shadow: 1px 1px 50px orchid;}
    to{box-shadow: 1px 1px 50px orange;}

}

p {
    padding-top: 10px;
    font-size: 25px;
}